.idea
zsh.d/sheldon/*
!zsh.d/sheldon/plugins.toml
*.zwc
emacs.d/network-security.data
emacs.d/transient

.tern-port
*.bak
*.dat
*.elc
tramp

.mc-lists.el
bookmarks

# pythonenv
.python*

# cedet
semanticdb
srecode-map.el

*/bin/*


# for emacs user
ide
\#backup
\#*
.#*#
*~
.DS_Store
.org-id-locations
emacs.d/recentf
emacs.d/elscreen
emacs.d/elpa
emacs.d/el-get
emacs.d/undohist
emacs.d/session.*
emacs.d/projectile-bookmarks.eld
emacs.d/url
emacs.d/var
backup
